<div class="container">
    <div class="card">
      <img class="edit" src="assets/images/edit.svg" alt="edit">
      <img class="profileimg" src="assets/images/profileimg.jpg" alt="profile image">
      <span class="volunteerinfo">
       <p><strong>Volunteer Name</strong></p>
       <p>position</p>
       <p>Amman,jordan</p>
      </span>     
      <div class="icons">
        <img class="icon"src="assets/images/email.png" alt="email icon">
        <img class="icon"src="assets/images/linkedin.png" alt="likedin icon">
        <img class="icon"src="assets/images/github.png" alt="github icon">
       </div>
       <div class="aboutsection">
        <a class="link" href="volunteerdetails/about">About</a>
        <a class="link" href="volunteerdetails/ctivites">Volunteer Activities</a>
       </div>
   </div>
   </div>
   
<section class="about">
    <p class="aboutp"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
       
    <p class="headline">Work Experience</p>
     <div class="experiences">
        <ul>
            <li class="Company Name">Company Name</li>
            <li class="date">Date</li>

        </ul>
        <p class="discription">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div> 
        <div class="experiences">
            <ul>
                <li class="Company Name">Company Name</li>
                <li class="date">Date</li>
            </ul>
            <p class="discription">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div> 

    <p class="headline">Skills</p>
    <div class="skills">
        <ul><!-- we can use ngfor-->
            <li class="skill">skill1</li>
        </ul>
       
        </div> 
    
</section>
<router-outlet></router-outlet>