.activities{
    position: absolute;
    left: 30%;
    top: 170px;
    width: 30%;
    color:#EAEBED;
}

mat-card-title{
    font-size: 16px;
}
mat-card-subtitle{
    color: #000000;
    font-size: 14px;
}