<div id="root">
  <mat-toolbar >
 <!-- display in the nav bar only when no user signed in-->
    <ng-template #loginbutton>
    <a class=" login lo1" mat-button  (click)="login()">Login</a>
    <a class=" register lo1" mat-button (click)="register()">Register</a>
    </ng-template>
   <!-- always display in the nav bar -->
    <a mat-button  (click)="homepage()"><img class="logo" src ="/assets/images/logo.png"></a>
    <a class="contact lo2" mat-button (click)="contact()">Contact Us</a>
    <a class="about lo2" mat-button (click)="about()">About</a>

  <!-- display in the nav bar only when user is signed in-->
   <span *ngIf="authService.userState$ | async as user"> 

      <ng-template #companycomponent><!-- display in the nav bar only when user is company-->
       <a class="volunteers lo2" mat-button *ngIf="companyprofile.isLoggedInUserCompany$ | async as user" (click)="volunteers()"> volunteers</a>
       <a (click)="add() " class="lo3"><img class="add" src="/assets/images/add.svg" alt="add icon"></a>

       <!--<a mat-button (click)="companyprofileimg()" *ngIf="companyprofile.isLoggedInUserCompany$ | async as user">
        <img class="profile" [src]="user.photoURL ?? 'assets/images/profileimg.jpg'" ></a>  -->

  <!-- when the registerd is company navigate the img in navbar to the company profile-->
      <!--img code-->
       </ng-template>
       <!-- when the registerd is volunteer navigate the img in navbar to the volunteer profile-->
      
       <a mat-button (click)="volunteerprofileimg()" >
               <img class="profileimg lo2" [src]="user.photoURL ?? 'assets/images/profileimg.jpg'"></a>  
       
       <!-- display in the nav bar only when user is volunteer-->
       <a class="activities lo2" mat-button  (click)="activities()" *ngIf="volunteerprofile.isLoggedInUserVolunteer$ | async as user; else companycomponent " > Activities</a>
     
     </span>
     <a class=" logout lo3" mat-button  (click)="logout()" *ngIf="authService.userState$ | async ; else loginbutton">Logout</a><!--before login-->

  </mat-toolbar>

</div> 
<div id="main-page">
<router-outlet></router-outlet>
</div>
