.header,.example-form {
    color: #EAEBED;
}
.header{
    margin: 20px;
}

mat-label{
    color: #EAEBED;
}
.firststep{
    color: #EAEBED;
}
.mat-stroked-button{
   position: relative;
    top: 10%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    color: #42B694;
    border:0.1px solid #42B694;
    margin: 10px;

 }
 .example-full-width{
    width: 600px; 


 } 
 .example-form{
    position: absolute;
    width: 400px;
    height: 101px;
    left: 27%;
    top: 150px;
 }


 mat-horizontal-stepper {
    background-color: #161920;
    color: #EAEBED;
    
 }
 .example-chip-list{
  width: 600px;
 }
 mat-icon{
    width: 16px;
 }

 .mat-step{
    width:50%;
 }
 .one{
   width: 150px;
   margin-left: 5px;
   margin-right: 5px;
 }