<p class="header">Set up your company information</p>

<!--<div class="form-container">
<form [formGroup]="companyForm" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput type="text" formControlName="companyName">
      </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf ="email?.errors?.['required']">Email is required</mat-error>
      <mat-error *ngIf ="email?.errors?.['email']">Email format is incorrect</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf ="password?.errors?.['required']">Password is required</mat-error>
        <mat-error *ngIf ="password?.errors?.['minlength']">Password must be at least 6 charecters</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput type="number" formControlName="phoneNumber">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company URL</mat-label>
        <input matInput type="text" formControlName="url">
      </mat-form-field>

    <mat-form-field appearance="fill">
       <mat-label>Choose a type</mat-label>
       <mat-select type="text" formControlName="type">
         <mat-option value="NGO"> NGO </mat-option>
         <mat-option value="Government">Government </mat-option>
         <mat-option value="Religious">Religious </mat-option>
       </mat-select>
     </mat-form-field>

     
      <mat-error *ngIf="companyForm.errors?.['passwordDontMatch']">
        Confirm password don't match the entered password
      </mat-error>

      <br>
      <button type="submit" mat-stroked-button>Register</button>

  </form>
</div>-->